anthropic==0.60.0
darkdetect==0.8.0
defusedxml==0.7.1
distlib==0.3.9
google-generativeai==0.8.5
ollama==0.5.1
openai==1.98.0
pillow==11.3.0
psutil==7.0.0
requests==2.32.4
tomli_w==1.2.0
webcolors==24.11.1